.header_container{
    position:fixed;
    display: flex;
    height: 65px;
    width:100%;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2d2d;
    border-bottom:thin solid rgb(255 255 255 / 16%);
    padding-left:30px;
    padding-right:30px;
    z-index:3;
}

.black_page{
    position:relative;
    display:flex;
    background-color:#212020;
    width:100%;
    height: 100%;
}
.black_page_index{
    position:relative;
    display:flex;
    background-color:#212020;
    width:100%;
    height: 965px;
}

.buttons_on_header_container{
    display: flex;
    justify-content: space-around;
}

.buttons_auth_on_header_container{
    position:absolute;
    left:50%;
    right:50%;
    display: flex;
    justify-content: space-around;
}

.sign_in_page_container{
    padding-top:65px;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: transient;
    height:100%;
    width: 100%;
}

.sign_in_container{
    width: 330px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2d2d;
    padding: 30px;
    border-width: thin;
    border-radius: 10px;
}

.sign_up_on_login_page_container{
    width: 330px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2d2d;
    padding: 30px 30px 20px 30px;
    border-width: thin;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item_input_container_sign_in{
    position:relative;
}

.sign_up_page_container{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #212020;
    height:100%;
    width: 100%;
}

.sign_up_container{
    width: 650px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2d2d;
    border-width: thin;
    border-radius: 10px;
}

.item_input_container_sign_up{
    position:relative;
    display:flex;
    align-items:center;
    margin:20px;
}

.verify_info_page_container{
    position:relative;
    display:flex;
    padding-top:65px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
    background-color:transient;
}

.update_page_container{
    position:relative;
    display:flex;
    padding-top:65px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
    background-color:transient;
}

.update_container{
    width: 650px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2d2d;
    border-width: thin;
    border-radius: 10px;
}

.index_page_container{
    position:relative;
    display:flex;
    padding-top:65px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:950px;
    width: 100%;
    background-color:transient;
}

.image_student_container{
   position: relative;
   display:flex;
   overflow:hidden;
   width:100%;
   height:400px;
}

.image_student_container img{
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   width:100%;
   height:400px;
   object-fit:cover;
   margin-bottom:50px;
}

.text_about_university_container{
    position:relative;
    width:100%;
    padding-bottom:100px;
    padding-right:50px;
    height: 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.descr_courses_index_page_container{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    background-color: black;
    opacity: 0.7;
    z-index:2;
    border-radius:10px;
    width: 600px;
    height:340px;
    margin:30px;
    padding:30px;
}

.dropdown-container {
    display: none;
    position: absolute;
    top: 80px;
    right:15px;
    background-color: #2e2d2d;
    width: 200px;
    z-index: 1;
    border:thin solid rgb(255 255 255 / 16%);
    border-radius:10px;
    transition-duration: 0.2s;
    padding:10px;
}

.show {
    transition-direction: top 3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dropdown_item_container{
    height:40px;
    width:100%;
    transition-duration: 0.2s;
    display:flex;
    align-items:center;
    color:white;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;

}

.dropdown_item_container:hover{
    height:40px;
    background-color: #454141;
    border-radius:5px;
}


.courses_page_container{
    position:relative;
    display:flex;
    padding-top:65px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height:1100px;
    width: 100%;
    background-color:#212020;
}

.text_future_stars_container{
    top:100px;
    width: 900px;
    height: 110px;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color:white;
    display:flex;
    align-items: center;
    justify-content: start;
}

.course_container{
    width: 900px;
    height: 260px;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: start;
    border-bottom:thin solid rgb(255 255 255 / 16%);
}

.pagination_container{
    margin-top:20px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.course_page_container{
    position:relative;
    display:flex;
    padding-top:65px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100%;
    width: 100%;
    background-color:#212020;
}
.course_title_container{
     top:100px;
     width: 900px;
     height: 110px;
     font-family: 'Open Sans', sans-serif;
     font-size: 50px;
     font-weight: bold;
     color:white;
     display:flex;
     align-items: center;
     justify-content: start;
     border-bottom:thin solid rgb(255 255 255 / 16%);
 }

.average_mark_container{
    width: 900px;
    height: 60px;
    padding: 30px 0px;
    margin-bottom: 30px;
    display:flex;
    align-items: center;
    justify-content: start;
}

.course_start_container{
    width: 900px;
    height: 60px;
    padding: 30px 0px;
    margin-bottom: 30px;
    display:flex;
    align-items: center;
    justify-content: start;
}
.schedule_homework_container{
    margin-top:20px;
    width: 900px;
    display:flex;
    justify-content: space-between;
}

.homework_container{
    width: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homework_item_container{
    width: 300px;
    height: 60px;
    padding: 30px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:thin solid rgb(255 255 255 / 16%);
}

.schedule_container{
    width: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lesson_item_container{
    width: 500px;
    height: 60px;
    padding: 30px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:thin solid rgb(255 255 255 / 16%);
}

.user_stat_container{
    margin:50px;
    width: 900px;
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-direction:column;
}

.user_stat_item_container{
    width: 900px;
    height: 80px;
    padding: 20px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:thin solid rgb(255 255 255 / 16%);
}

.lesson_page_container{
    position:relative;
    display:flex;
    padding-top:65px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100%;
    width: 100%;
    background-color:#212020;
}

.lesson_title_container{
     top:100px;
     width: 900px;
     height: 110px;
     font-family: 'Open Sans', sans-serif;
     font-size: 50px;
     font-weight: bold;
     color:white;
     display:flex;
     align-items: center;
     justify-content: start;
     border-bottom:thin solid rgb(255 255 255 / 16%);
}

.lesson_start_container{
    width: 900px;
    height: 60px;
    padding: 30px 0px;
    margin-bottom: 30px;
    display:flex;
    align-items: center;
    justify-content: start;
}

.user_presence_item_container{
    width: 900px;
    height: 80px;
    padding: 20px 20px 20px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:thin solid rgb(255 255 255 / 16%);
}

.user_presence_item_container:hover{
    background: #2e2d2d;
    transition-duration: 0.2s;
 }

.course_sort_container{
    width: 900px;
    height: 40px;
    padding: 30px 0px;
    display:flex;
    align-items: center;
    justify-content: start;
}

.teachers_page_container{
    position:relative;
    display:flex;
    padding-top:65px;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    background-color:#212020;
    flex-direction: column;

}

.teachers_title_container{
     top:100px;
     width: 900px;
     height: 110px;
     font-family: 'Open Sans', sans-serif;
     font-size: 50px;
     font-weight: bold;
     color:white;
     display:flex;
     align-items: center;
     justify-content: start;
     border-bottom:thin solid rgb(255 255 255 / 16%);
}

.teachers_container{
    width:100%;
    height: 500px;
    padding: 30px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.teacher_container{
    width: 250px;
    height: 350px;
    padding: 30px;
    border-radius: 5px;
    border:thin solid rgb(255 255 255 / 16%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #2e2d2d;
}

.about_teachers_container{
   display:flex;
   width:100%;
   height:250px;
   justify-content:center;
   flex-direction: column;
   align-items:center;
}


