.sign_in_form{
    height: 260px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sign_up_form{
    width:650px;
    height: 650px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding:20px;
}

.update_form{
     width:650px;
     height: 570px;
     display:flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: start;
     padding:20px;
 }