.main_name_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.text_1{
    font-family: 'Open Sans', sans-serif;
    color:	rgb(255 255 255 / 16%);
    text-align: center;
    font-size: 13px;
}

.text_1_invalidate{
    font-family: 'Open Sans', sans-serif;
    color: red;
    text-align: center;
    font-size: 13px;
}

.gender{
    font-family: 'Open Sans', sans-serif;
    color:	rgb(255 255 255 / 16%);
    font-size: 20px;
}

.text_mail_sent{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:white;
}

.text_mail_sent_bold{
     font-family: 'Open Sans', sans-serif;
     font-size: 30px;
     color:white;
     font-weight:bold;
}

.text_about_university{
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-style:italic;
    color: white;
    font-weight: thin;
}

.text_2_about_university{
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-style:italic;
    color: white;
    font-weight: thin;
}

.text_3_about_university{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: thin;

}

.text_4_about_university{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: thin;
}

.login_on_dropdown{
    color:white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    display:flex;
        flex-direction: column;

    justify-content: space-between;
    align-items:center;
    padding:0px 10px;

}